﻿@model TT.Domain.ViewModels.StaticEffect

<div class="bonuses">
        @{
            if (@Model.HealthBonusPercent != 0)
            {
                <b>Extra willpower maximum:  @Model.HealthBonusPercent</b><br>
            }
            if (@Model.ManaBonusPercent != 0)
            {
                <b>Extra mana maximum:  @Model.ManaBonusPercent</b><br>
            }
            if (@Model.HealthRecoveryPerUpdate != 0)
            {
                <b>Willpower recovery per update:  @Model.HealthRecoveryPerUpdate</b><br>
            }
            if (@Model.ManaRecoveryPerUpdate != 0)
            {
                <b>Mana recovery per update:  @Model.ManaRecoveryPerUpdate</b><br>
            }
            if (@Model.SneakPercent != 0)
            {
                <b>Sneak chance percent: @Model.SneakPercent</b><br>
            }
            if (@Model.MeditationExtraMana != 0)
            {
                <b>Extra mana recovering from meditating:  @Model.MeditationExtraMana</b><br>
            }
            if (@Model.CleanseExtraHealth != 0)
            {
                <b>Extra willpower recovered from cleansing:  @Model.CleanseExtraHealth</b><br>
            }
            if (@Model.MoveActionPointDiscount != 0.0M)
            {
                <b>Action point discount when moving:  @Model.MoveActionPointDiscount</b><br>
            }
            if (@Model.ExtraSkillCriticalPercent != 0)
            {
                <b>Extra chance of spell critical hits:  @Model.ExtraSkillCriticalPercent</b><br>
            }
            if (@Model.EvasionPercent != 0)
            {
                <b>Percent chance to evade an attack:  @Model.EvasionPercent</b><br>
            }
            if (@Model.EvasionNegationPercent != 0)
            {
                <b>Percent negation of opponent's ability to evade a spell:  @Model.EvasionNegationPercent</b><br>
            }
            if (@Model.SpellExtraTFEnergyPercent != 0.0M)
            {
                <b>Extra transformation energy damage percent:  @Model.SpellExtraTFEnergyPercent</b><br>
            }
            if (@Model.SpellExtraHealthDamagePercent != 0.0M)
            {
                <b>Extra willpower damage dealt from spells:  @Model.SpellExtraHealthDamagePercent</b><br>
            }
            if (@Model.CleanseExtraTFEnergyRemovalPercent != 0.0M)
            {
                <b>Extra transformation energy percent removed when cleansing:  @Model.CleanseExtraTFEnergyRemovalPercent</b><br>
            }
            if (@Model.SpellMisfireChanceReduction != 0.0M)
            {
                <b>Misfire percent chance reduction:  @Model.SpellMisfireChanceReduction</b><br>
            }

            if (@Model.SpellHealthDamageResistance != 0.0M)
            {
                <b>Willpower damage reduction when hit by spells: @Model.SpellHealthDamageResistance</b><br>
            }
            if (@Model.SpellTFEnergyDamageResistance != 0.0M)
            {
                <b>Transformation energy reduction when hit by spells: @Model.SpellTFEnergyDamageResistance</b><br>
            }
            if (@Model.ExtraInventorySpace != 0.0M)
            {
                <b>Extra inventory space:  @Model.ExtraInventorySpace</b><br>
            }
            
            
             if (@Model.Discipline != 0.0F)
            {
                 <li>Discipline: @Model.Discipline</li>
            }

            if (@Model.Perception != 0.0F)
            {
                 <li>Perception:  @Model.Perception</li>
            }

            if (@Model.Charisma != 0.0F)
            {
                 <li>Charisma:  @Model.Charisma</li>
            }

            if (@Model.Submission_Dominance != 0.0F)
            {
                 <li>Submission -- Dominance:  @Model.Submission_Dominance</li>
            }

            if (@Model.Fortitude != 0.0F)
            {
                 <li>Fortitude:  @Model.Fortitude</li>
            }

            if (@Model.Agility != 0.0F)
            {
                 <li>Agility:  @Model.Agility</li>
            }

            if (@Model.Allure != 0.0F)
            {
                 <li>Allure:  @Model.Allure</li>
            }

            if (@Model.Corruption_Purity != 0.0F)
            {
                 <li>Corruption -- Purity:  @Model.Corruption_Purity</li>
            }

            if (@Model.Magicka != 0.0F)
            {
                 <li>Magicka:  @Model.Magicka</li>
            }

            if (@Model.Succour != 0.0F)
            {
                 <li>Succour:  @Model.Succour</li>
            }

            if (@Model.Luck != 0.0F)
            {
                 <li>Luck:  @Model.Luck</li>
            }

            if (@Model.Chaos_Order != 0.0F)
            {
                 <li>Chaos -- Order:  @Model.Chaos_Order</li>
            }
            
            
}
</div>