﻿<div class="containerInner pvpAdmin">

    @Html.Raw(TempData["Message"])

    <a href="@Url.Action(MVC.PvPAdmin.ApproveEffectContributionList())">Approve Effect Contributions</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.ApproveContributionList())">Approve Contributions</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.PublicBroadcast())">Public Broadcast</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.ChangeGameDate())">Change game date</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.ServerBalance_Forms())">Server Balancing</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.ViewUpdateLogs())">Server Logs</a><br>
    <a href="@Url.Action(MVC.Contribution.ReviewDMRolls())">Approve DM Encounters</a><br>

    <a href="@Url.Action(MVC.PvPAdmin.FaeList())">Jewdewfae Encounter List</a><br>

    <a href="@Url.Action(MVC.PvPAdmin.FindMissingThumbnails())">Find Missing Portrait Thumbnails</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.ListCustomForms())">List Custom Forms</a><br>
    <a href="@Url.Action(MVC.Tome.List())">List Tomes</a><br>
    <a href="@Url.Action(MVC.RestockItem.List())">List Restock Items</a><br>
    <a href="@Url.Action(MVC.Donator.List())">Manage Donations</a><br>

    <a href="@Url.Action(MVC.PvPAdmin.RenamePlayer())">Rename player</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.FastInanimateMe())">DEBUG inanimate me</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.FastPetMe())">DEBUG pet me</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.FastAnimateMe())">DEBUG animate me</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.FastGiveTPScroll())">DEBUG give me teleport scroll</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.ChangeWorldStats())">ADMIN change game data</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.ChangeRoundText())">ADMIN change game round name/number</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.SetEveryoneToSP())">CHAOS Set everyone to SuperProtection</a><br>

    <a href="@Url.Action(MVC.PvPAdmin.CheckLocationConsistency())">Check location consistency</a><br>
    <br>

    <a href="@Url.Action(MVC.PvPAdmin.Killswitch())">CLICK HERE TO ACTIVATE.</a><br>
    <a href="@Url.Action(MVC.PvPAdmin.KillswitchRestore())">CLICK HERE TO DEACTIVE KILLSWITCH.</a><br>

</div>